<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Criar uma conta</h1>
    <div class="signup-form">
      <p class="text-center">Informe seus dados.</p>
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nome completo</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Nome Completo" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Insira seu nome completo</div>
        </div>
        <div class="form-group">
          <label for="work-id">Número do Conselho</label>
          <input class="form-control" id="work-id" type="text" v-model.trim="formData.workId" placeholder="Número do conselho">
        </div>
        <div class="form-group">
          <label for="email-address">E-mail</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="exemplo@exemplo.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor, informe um endereço de e-mail válido</div>
        </div>
        <div class="form-group">
          <label for="password">Insira uma senha</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor, insira uma senha.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirme a senha</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">As senhas não conferem.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']">Eu li e concordo com os <a target="_blank" href="/terms">termos do serviço</a>.</label>
        </div>
        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Já existe uma conta com este endereço de e-mail</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Algo inesperado ocorreu ao criar sua conta. Verifique seus dados e tente novamente.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Criar Conta</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">Já tem uma conta? <a href="/login">Entrar</a></p>
    </div>
  </div>
  <div class="container" v-if="cloudSuccess">
    <h1 class="text-center">Verifique seu e-mail!</h1>
    <div class="success-message">
      <hr/>
      <p>Sua conta está quase terminada, favor verifique o e-mail enviado para:<strong>{{formData.emailAddress}}</strong>.</p>
      <p>(Você pode acessar sua conta, mas algumas funções podem não funcionar até que você verifique o seu e-mail.)</p>
      <p><a class="btn btn-outline-info" href="/">Prosseguir</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
